# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# vscode leftovers
.vscode

# cmake 
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
app
Makefile
build/
compile_commands.json
*.cmake.user
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/

# clangd
.cache

# qt
.qtcreator

# for surveys and responses (keep dirs, ignore contents)
public/**/survey/*
public/**/responses/*
!public/**/survey/.gitkeep
!public/**/responses/.gitkeep

