[submodule "third_party/drogon"]
	path = third_party/drogon
	url = https://github.com/drogonframework/drogon.git
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/matplotplusplus"]
	path = third_party/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus.git
[submodule "third_party/Qt-QrCodeGenerator"]
	path = third_party/Qt-QrCodeGenerator
	url = https://github.com/alex-spataru/Qt-QrCodeGenerator.git
[submodule "third_party/tgbot-cpp"]
	path = third_party/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp.git
